html {
  background: #fff;
  color: #404040;
}

body {
  background: #fff;
  color: #404040;
  font-family: 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'Segoe UI', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

pre.prettyprint {
  font-size: 0.75em;
}

div#validations,
div#sources {
  margin-top: 3em;
  display: block;
  float: left;
  width: 50%;
}
